/NeuralNetwork.VC.VC.opendb
/NeuralNetwork.VC.db
/NeuralNetwork/Debug/NeuralNetwork.tlog/CL.command.1.tlog
/NeuralNetwork/Debug/NeuralNetwork.tlog/CL.read.1.tlog
/NeuralNetwork/Debug/NeuralNetwork.tlog/CL.write.1.tlog
/NeuralNetwork/Debug/NeuralNetwork.tlog/NeuralNetwork.lastbuildstate
/NeuralNetwork/Debug/NeuralNetwork.tlog/link.command.1.tlog
/NeuralNetwork/Debug/NeuralNetwork.tlog/link.read.1.tlog
/NeuralNetwork/Debug/NeuralNetwork.tlog/link.write.1.tlog
/NeuralNetwork/Debug/vc140.idb
/document/MLP.V1.0.pdf
